Columns/Service References/Services/RegisterScores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:scoreswsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:scoreswsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:scoreswsdl">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registerRequest">
    <wsdl:part name="Scores" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getscoresRequest">
    <wsdl:part name="gametype" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getscoresResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="scoreswsdlPortType">
    <wsdl:operation name="register">
      <documentation>Registers scores with the server</documentation>
      <wsdl:input message="tns:registerRequest" />
      <wsdl:output message="tns:registerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getscores">
      <documentation>Gets the scores from the server</documentation>
      <wsdl:input message="tns:getscoresRequest" />
      <wsdl:output message="tns:getscoresResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="scoreswsdlBinding" type="tns:scoreswsdlPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="register">
      <soap:operation soapAction="urn:scoreswsdl#register" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:scoreswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:scoreswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getscores">
      <soap:operation soapAction="urn:scoreswsdl#getscores" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:scoreswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:scoreswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="scoreswsdl">
    <wsdl:port name="scoreswsdlPort" binding="tns:scoreswsdlBinding">
      <soap:address location="http://nexos.darkshines.co.uk/RegisterScores.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>